<div id="<%= dom_id event %>">

    <div class="card card-compact w-62 bg-base-100 shadow-xl">
      <figure><img src="https://api.lorem.space/image/shoes?w=400&h=225" alt="Shoes" /></figure>
      <div class="card-body">
        <h2 class="card-title"><%= event.event_name %></h2>
        <p><%= event.event_venue %></p>
        <p><%= event.event_date %></p>
        <p><%= event.event_time %></p>
      </div>
    </div>
  <br>

  <% if action_name != "show" %>
    <%= link_to "Show this event", event, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this event', edit_admin_event_path(event), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
