<!DOCTYPE html>
<html>
  <head>
    <title><%= system_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>

  </head>

  <body>
    <% if admin_signed_in? %>
    <%= render "layouts/adminnav"%>
    <% elsif user_signed_in? %>
    <%= render "layouts/usernav" %>
    <% else %>
    <%= render "layouts/publicnav" %>    
    <% end %>
    <div class="container mx-auto px-4">
    <%= yield %>
    </div>
  </body>
</html>
